In [84]:
import pandas as pd
import numpy as np
import scipy.stats

# problem 1

In [93]:
f_list = [60,54,46,41]
m_list = [40,44,53,57]
col_total = [f_list[i]+m_list[i] for i in range(len(f_list))]
row_total = [sum(i) for i in [f_list,m_list,col_total]]
f_list.append(row_total[0])
m_list.append(row_total[1])
col_total.append(row_total[2])

In [94]:
df = pd.DataFrame([f_list,m_list,col_total], columns=['High School', 'Bachelors' ,'Masters' ,'Ph.d.' ,'Row Total'])
df.index = ['Female', 'Male', 'Col Total']
df

           High School  Bachelors  Masters  Ph.d.  Row Total
Female              60         54       46     41        201
Male                40         44       53     57        194
Col Total          100         98       99     98        395

In [97]:
f_obs = df.iloc[0:2, 0:4]
f_obs

        High School  Bachelors  Masters  Ph.d.
Female           60         54       46     41
Male             40         44       53     57

In [98]:
f_exp = np.outer(df["Row Total"][0:2], df.loc["Col Total"][0:4])/df.loc['Col Total'][-1]
f_exp = pd.DataFrame(f_exp)
f_exp.columns = ['High School', 'Bachelors' ,'Masters' ,'Ph.d.']
f_exp.index = ['Female', 'Male']
f_exp

        High School  Bachelors    Masters      Ph.d.
Female    50.886076  49.868354  50.377215  49.868354
Male      49.113924  48.131646  48.622785  48.131646

In [100]:
chisq = ((f_obs-f_exp)**2/f_exp).sum().sum()
print(' chi sqaure statistic=', chisq)
critical = scipy.stats.chi2.ppf(1-.05, df=3)
print('critical =', critical)
# directly using library
# result = scipy.stats.chi2_contingency(f_obs)

 chi sqaure statistic= 8.006066246262538
critical = 7.814727903251179

chi sq stat greater than critical. reject null hypothesis. education level is dependent on gender

# problem 2

In [259]:
Group1 = [51, 45, 33, 45, 67]
Group2 = [23, 43, 23, 43, 45]
Group3 = [56, 76, 74, 87, 56]

gp = np.array((Group1,Group2,Group3))
df_between = len(gp) - 1
df_within = gp.size - len(gp)

# sample mean for the groups
s_mean = [sum(grp)/len(grp) for grp in [Group1,Group2,Group3]]

# Sum of squared deviations from the mean (SS) for the groups and variance calculation
ss1 = sum([(x-s_mean[0])**2 for x in Group1])
ss2 = sum([(x-s_mean[1])**2 for x in Group2])
ss3 = sum([(x-s_mean[2])**2 for x in Group3])
var1 = ss1/(len(Group1)-1)
var2 = ss2/(len(Group2)-1)
var3 = ss3/(len(Group3)-1)

ms_error = (var1+var2+var3)/3
df_error = df_within
ss_error = ms_error*df_error

# Intermediate steps in calculating the variance of the sample means
grand_mean = sum(s_mean)/len(s_mean)
ss_means = sum((x-grand_mean)**2 for x in s_mean)
var_means = ss_means/(len(s_mean)-1) 
ms_between = var_means*5

df_group = 3-1
ss_group = ms_between*df_group

f_stat = ms_between/ms_error


pval =scipy.stats.f.pdf(f_stat, df_between, df_within)
eta_sqrd = ss_group/(ss_group+ss_error)
om_sqrd = (ss_group - (df_between * ms_error))/(ss_group+ss_error + ms_error)

SS = np.array((ss_group,ss_error))
DF = np.array((df_between, df_error))
MS = [ms_between, ms_error]
Fval = [f_stat]
df = pd.DataFrame(SS, columns=['sum_sq'])
df['df'] = DF
df['F'] = f_stat
df['PR'] = pval
df['EtaSq'] = eta_sqrd
df['OmegaSq'] = om_sqrd
df.index = ['Group', 'Residuals']
df

                sum_sq  df         F        PR    EtaSq   OmegaSq
Group      3022.933333   2  9.747206  0.001166  0.61898  0.538382
Residuals  1860.800000  12  9.747206  0.001166  0.61898  0.538382

APA write up 
F(2,12) = 9.75, p<0.05, eta sqaured = 0.62

# problem 3

In [263]:
x = [10, 20, 30, 40, 50]
y = [5,10,15, 20, 25]
statistic, pvalue = scipy.stats.f_oneway(x,y)
print('f test value =', statistic)
print('p value =', pvalue)

f test value = 3.6
p value = 0.0943497728424377