In [9]:
def myreduce(fun_name, arg_list):
    first = arg_list.pop(0)
    for second in arg_list:
        first = fun_name(first,second)
    return first

In [12]:
my_reduce(lambda a,b : a+b, [1,2,3,4,5])

15

In [33]:
def my_filter(fun_name, arg_list):
    data = []
    for ele in arg_list:
        if fun_name(ele) is True:
            data.append(ele)
    return data

In [38]:
my_filter(lambda x : True if x%2==0 else False, [1,2,3,4,5])

[2, 4]

In [70]:
l0 = ['x', 'y', 'z']
l1 = []
l2 = []
for i in l0:
    for j in range(1,5):
        l1.append(i*j)
        
for j in range(1,5):
    for i in l0:
        l2.append(i*j)
        
print(l1)
print(l2)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [121]:
l3 = [2,3,4]
l4 = [[i] for i in l3]
l5 = [[i+1] for i in l3]
l6 = [[i+2] for i in l3]
l = l4+l5+l6
print(l)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [185]:
s0 = [2,3,4,5]
s1 = [i+1 for i in s0]
s2 = [i+1 for i in s1]
s3 = [i+1 for i in s2]
s = [s0]+[s1]+[s2]+[s3]
print(s)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [189]:
[(x,y) for y in [1,2,3] for x in [1,2,3]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]